[class*="col-"] {
    padding-left: 0px;
    padding-right: 0px;
  }
  .img_logo {
    width: 100%;
    height: 100px;
    padding-bottom: 20px;
  }
  .fa-phone-volume {
    transform: rotate(-20deg);
    font-size: x-large;
    color: white;
  }