[class*="col-"] {
  padding-left: 0px;
  padding-right: 0px;
}
.img_logo {
  width: 100%;
  height: 100px;
  padding-bottom: 20px;
}
.fa-phone-volume {
  transform: rotate(-20deg);
  font-size: x-large;
  color: white;
}
.special {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  z-index: -3;
  background: url(../imgs/bg_car.png) no-repeat;
  background-size: cover;
  /* height: 400px; */
}
.spec {
  position: relative;
  margin-top: 40px;
}
.spec_title {
  padding: 5px 25px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(85, 211, 210);
  transform: skewX(-20deg);
}
.spec_title > div {
  transform: skewX(20deg);
  z-index: 3;
}
.spec > hr {
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 160%;
}
.one {
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}
.tow {
  /* top: 10; */
  right: 0;
  left: 20;
  z-index: -1;
}
.sp1,
.sp2 {
  margin-right: 25px;
}
.sp_new {
  border: none;
  background: none;
  cursor: pointer;
  margin-bottom: 20px;
}
.sp1 {
  border-bottom: 3px solid rgb(85, 211, 210);
}
.main {
  background-color: rgb(244, 244, 244);
}
.nav-item > a {
  color: black;
}
.active {
  border-bottom: 4px solid rgb(85, 211, 210);
  color: black;
}
.tab-pane {
  border-bottom: none;
}

.rice > div > p:last-child {
  color: rgb(225, 77, 18);
  font-weight: 700;
}
.rice > div > p:first-child {
  font-size: 0.9em;
}
.rice > :first-child {
  float: left;
  display: block;
}
.rice > :last-child {
  float: right;
}
.cart {
  margin-top: 10px;
  font-size: 1.6em;
  color: rgb(79, 206, 209);
}
.card-text {
  text-decoration: line-through;
}
.footer-link {
  background-color: rgb(1, 25, 72);
}
